<div class= container>
<%= simple_form_for @book do |f| %>
    <%= f.input :book_title %>
    <%= f.input :author %>
    <%= f.input :isbn_number %>
    <%= f.input :description %>
    <%= f.input :condition %>
    <%= f.input :book_price %>
    <%= f.input :location %>
    <%= f.submit %>
  <% end %>
  </div>