<div class= "container">
    <h2>Add your book</h2>
<%= simple_form_for @book do |f| %>
  <div class="row">
    <div class="col-6">
    <%= f.input :book_title %>
    <%= f.input :author %>
    <%= f.input :isbn_number %>
    <%= f.input :description %>
    <%= f.input :condition %>
    </div>
    <div class="col-6">
    <%= f.input :book_price %>
    <%= f.input :location %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn-primary-reserve" %>
    </div>
  </div>
  <% end %>
  </div>
