<div class="container">
  <div class="row reservation-status-card">
  <% @reservations.each do |reservation| %>
    <div class="col-10">
      <h1 class="p-3">Check your Rental Status
      </h1>
      <p>
        <%= reservation.start_date %>
      </p>
      <p>
        <%= reservation.end_date %>
      </p>

      <p>
        <%= reservation.book.book_title %>
      </p>
      <p>
        <%= reservation.book.author %>
      </p>
      <div class="status">
      <% if params[:action] == "incoming_bookings" %>
        <% unless reservation.status == "Accepted" || reservation.status == "Declined" %>
           <%= button_to "Accept", accept_book_reservation_path(reservation.book, reservation), method: :put %>
           <%= button_to "Decline", decline_book_reservation_path(reservation.book, reservation), method: :put %>
         <% else %>
            <%= reservation.status %>
         <% end %>
      <% else %>
        <%= reservation.status %>
      <% end %>
      </div>
      </div>
      <% end %>
  </div>
</div>
