<div class="container">
      <h1 class="reservation-title">Reservation</h1>
      <div class="reservation-status-card">
      <h3><strong>
        <%= @reservation.book.book_title %></strong>
      </h3>
      <p>
        Author:
        <%= @reservation.book.author %>
      </p>
      <p>
        Pick up book on:
        <br>
        <strong><%= @reservation.start_date %></strong>
      </p>
      <p>
        Return book to:
        <br>
        <%= @book.location %>
        <br>
        <br>
        On this date:
        <br>
        <strong><%= @reservation.end_date %></strong>
      </p>
      <p class="status">
        <strong><%= @reservation.status %></strong>
      </p>
      </div>
      <%= link_to "Go to Dashboard", class: "btn-reserve" %>

      <% unless @reservation.status == "Accepted" || @reservation.status == "Declined" %>
        <%= button_to "Accept", accept_book_reservation_path(@reservation.book, @reservation), method: :put %>
        <%= button_to "Decline", decline_book_reservation_path(@reservation.book, @reservation), method: :put %>
      <% end %>

</div>

